
<div class="container">
  <div class="row">
      <div class="col-2 bg-primary" >
        <div class="wrap-custom-file">
          <input  (change)="capturarFile($event)"  type="file" name="image1" id="image1" accept=".gif, .jpg, .png" />
          <label  for="image1"><span *ngIf="!previsualizacion">Seleccioná una foto de perfil</span></label>
          <img [src]="previsualizacion" *ngIf="previsualizacion"  class="prevImg">
        <div>
      </div>
      <div class="col-10 bg-danger">
        <div class="row bg-warning" >
          <div class="col-4 bg-danger">
            <p>col10 row1 col4</p>
          </div>
          <div class="col-4 bg-primary">
            <p>col10 row1 col4</p>
          </div>
          <div class="col-4 bg-danger">
            <p>col10 row1 col4</p>
          </div>
        </div>
        <div class="row bg-info">
          <p>col10 row2</p>
        </div>
      </div>
  </div>
</div>

<!---<div class="d-flex justify-content-center">-->

  <form class="form" [formGroup]="formulario" (ngSubmit)="guardarAlumno()">





    <div class="container">
      <div class="row">
        <div class="col-2 ">
          <div class="wrap-custom-file">
            <input  (change)="capturarFile($event)"  type="file" name="image1" id="image1" accept=".gif, .jpg, .png" />
            <label  for="image1"><span *ngIf="!previsualizacion">Seleccioná una foto de perfil</span></label>
            <img [src]="previsualizacion" *ngIf="previsualizacion"  class="prevImg">
          <div>
        </div><!---Col-2-->

        <div class="col-10 bg-info">
          <div class="row">
            <div class="col-4 ">
              <div class="form-group">
                <mat-form-field appearance="legacy">
                  <mat-label>Nombre</mat-label>
                  <input type="text" placeholder="Juan Alberto" formControlName="nombre" class="form-control col-10 d-inline mr-1" matInput>
                </mat-form-field>
                <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('nombre')?.errors"></i>
                <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('nombre')?.errors && formulario.get('nombre')?.touched" ></i>
                <p><small class="alert-text" *ngIf="formulario.get('nombre')?.errors?.['required'] && formulario.get('nombre')?.touched" >*Ingresa tu nombre</small></p>
              </div>
            </div>



          </div>


        </div>

      </div><!--Row-->
          <div class="col-10">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <mat-form-field appearance="legacy">
                    <mat-label>Nombre</mat-label>
                    <input type="text" placeholder="Juan Alberto" formControlName="nombre" class="form-control col-10 d-inline mr-1" matInput>
                  </mat-form-field>
                  <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('nombre')?.errors"></i>
                  <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('nombre')?.errors && formulario.get('nombre')?.touched" ></i>
                  <p><small class="alert-text" *ngIf="formulario.get('nombre')?.errors?.['required'] && formulario.get('nombre')?.touched" >*Ingresa tu nombre</small></p>
                </div>

              <div class="col-6">
                <mat-form-field appearance="legacy">
                  <mat-label>Apellido</mat-label>
                    <input type="text" placeholder="Gomez" formControlName="apellido" class="form-control col-10 d-inline mr-1" matInput>
                  </mat-form-field>
                <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('apellido')?.errors"></i>
                <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('apellido')?.errors && formulario.get('apellido')?.touched" ></i>
                <p><small class="alert-text" *ngIf="formulario.get('apellido')?.errors?.['required'] && formulario.get('apellido')?.touched" >*Ingresa tu apellido</small></p>

              </div>
            </div>
          </div>


            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <mat-form-field appearance="legacy">
                    <mat-label>Documento</mat-label>
                    <input type="text" placeholder="12345678" formControlName="documento" class="form-control col-10 d-inline mr-1" matInput>
                  </mat-form-field>
                  <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('documento')?.errors"></i>
                  <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('documento')?.errors && formulario.get('documento')?.touched" ></i>
                  <p><small class="alert-text" *ngIf="formulario.get('documento')?.errors?.['required'] && formulario.get('documento')?.touched" >*Ingresa tu documento</small></p>
                  <p><small class="alert-text" *ngIf="formulario.get('documento')?.errors?.['pattern'] && formulario.get('documento')?.touched" >*Ingresa un documento válido</small></p>
                  <p><small class="alert-text" *ngIf="formulario.get('documento')?.errors?.['maxLength'] && formulario.get('documento')?.touched" >*El largo máximo es 8</small></p>

                </div>

                <div class="col-6">
                  <mat-form-field appearance="legacy">
                    <mat-label>E-mail</mat-label>
                    <input type="email" placeholder="tucorreo@mail.com" formControlName="mail" class="form-control col-10 d-inline mr-1" matInput>
                  </mat-form-field>
                  <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('mail')?.errors"></i>
                  <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('mail')?.errors && formulario.get('mail')?.touched" ></i>
                  <p><small class="alert-text" *ngIf="formulario.get('mail')?.errors?.['required'] && formulario.get('mail')?.touched" >*Ingresa tu correo</small></p>
                  <p><small class="alert-text" *ngIf="formulario.get('mail')?.errors?.['email'] && formulario.get('mail')?.touched" >*Ingresa un correo valido</small></p>

                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <mat-form-field appearance="legacy">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input type="date"  formControlName="nacimiento" class="form-control col-10 d-inline mr-1" matInput>
                  </mat-form-field>
                  <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('nacimiento')?.errors"></i>
                  <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('nacimiento')?.errors && formulario.get('nacimiento')?.touched" ></i>
                  <p><small class="alert-text" *ngIf="formulario.get('nacimiento')?.errors?.['required'] && formulario.get('nacimiento')?.touched" >*Ingresa tu fecha de nacimiento</small></p>

                </div>
                <div class="col-6">
                    <mat-label>Pais</mat-label>
                    <mat-select formControlName ="pais" class="form-control col-10 mr-1">
                      <mat-option value="Argentina">Argentina</mat-option>
                    </mat-select>
                  <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('pais')?.errors"></i>
                  <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('pais')?.errors && formulario.get('pais')?.touched" ></i>
                  <p><small class="alert-text" *ngIf="formulario.get('pais')?.errors?.['required'] && formulario.get('pais')?.touched" >*Selecciona un pais</small></p>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="form-row justify-content-center">
              <button type="submit" class="btn btn-dark ">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>




  </form>

  <table></table>





